### Manipulando Dados em DataFrames do Pandas

In [21]:
# Importando a biblioteca]
import pandas as pd

In [22]:
# Criando uma dicionário
dados = {
    'Estado': ['Santa Catarina', 'Rio de Janeiro', 'Fortaleza', 'Bahia', 'Minas Gerais'],
    'Ano': [2004, 2005, 2006, 2007, 2008],
    'Taxa de Desemprego': [1.5, 1.7, 1.6, 2.4, 2.7]
}

In [23]:
print(dados)

{'Estado': ['Santa Catarina', 'Rio de Janeiro', 'Fortaleza', 'Bahia', 'Minas Gerais'], 'Ano': [2004, 2005, 2006, 2007, 2008], 'Taxa de Desemprego': [1.5, 1.7, 1.6, 2.4, 2.7]}

In [24]:
# Convertendo o dicionário para um DataFrame
df = pd.DataFrame(dados)

In [25]:
# Visualizando as 5 primeiras linhas
df.head()

           Estado   Ano  Taxa de Desemprego
0  Santa Catarina  2004                 1.5
1  Rio de Janeiro  2005                 1.7
2       Fortaleza  2006                 1.6
3           Bahia  2007                 2.4
4    Minas Gerais  2008                 2.7

In [26]:
# Reorganizando as colunas
pd.DataFrame(dados, columns=['Estado','Taxa de Desemprego', 'Ano'])

           Estado  Taxa de Desemprego   Ano
0  Santa Catarina                 1.5  2004
1  Rio de Janeiro                 1.7  2005
2       Fortaleza                 1.6  2006
3           Bahia                 2.4  2007
4    Minas Gerais                 2.7  2008

In [27]:
# Criando outro DataFrame com os mesmo dados anteriores, mas adicionando uma nova coluna
# e também mudando os indices com Index.
df2 = pd.DataFrame(dados,
                   columns= ['Estado','Taxa de Desemprego','Taxa Crescimento', 'Ano'],
                   index= ['estado1','estado2','estado3','estado4','estado5'])

In [28]:
# Exibindo o DataFrame
display(df2)

                 Estado  Taxa de Desemprego Taxa Crescimento   Ano
estado1  Santa Catarina                 1.5              NaN  2004
estado2  Rio de Janeiro                 1.7              NaN  2005
estado3       Fortaleza                 1.6              NaN  2006
estado4           Bahia                 2.4              NaN  2007
estado5    Minas Gerais                 2.7              NaN  2008

In [29]:
# Exibir os valores
df2.values

array([['Santa Catarina', 1.5, nan, 2004],
       ['Rio de Janeiro', 1.7, nan, 2005],
       ['Fortaleza', 1.6, nan, 2006],
       ['Bahia', 2.4, nan, 2007],
       ['Minas Gerais', 2.7, nan, 2008]], dtype=object)

In [30]:
# Exibindo os tipos de dados
df2.dtypes

Estado                 object
Taxa de Desemprego    float64
Taxa Crescimento       object
Ano                     int64
dtype: object

In [ ]:
# Exibe o nome das colunas
df2.columns

Index(['Estado', 'Taxa de Desemprego', 'Taxa Crescimento', 'Ano'], dtype='object')

In [33]:
# Imprimindo apenas um coluna do DataFrame
display(df2['Estado'])

estado1    Santa Catarina
estado2    Rio de Janeiro
estado3         Fortaleza
estado4             Bahia
estado5      Minas Gerais
Name: Estado, dtype: object

In [ ]:
# Imprimindo apenas duas colunas do DataFrame
display(df2[['Taxa de Desemprego', 'Ano']])

In [ ]:
# Exibe o nome dos indices
df2.index

Index(['estado1', 'estado2', 'estado3', 'estado4', 'estado5'], dtype='object')

In [36]:
# Filtando pelo indice

# axis=0: Este é o parâmetro crucial que define onde o filtro deve procurar pelos items.

# - axis=0 se refere ao eixo das linhas (o índice).
# - axis=1 se refere ao eixo das colunas.

df2.filter(items= ['estado3'], axis= 0)

            Estado  Taxa de Desemprego Taxa Crescimento   Ano
estado3  Fortaleza                 1.6              NaN  2006