### Slicing de DataFrames do Pandas

In [1]:
# Importando as Bibliotecas
import pandas as pd
import numpy as np

In [2]:
# Meus dados
dados = {
    'Estado': ['Santa Catarina', 'Rio de Janeiro', 'Fortaleza', 'Bahia', 'Minas Gerais'],
    'Ano': [2004, 2005, 2006, 2007, 2008],
    'Taxa de Desemprego': [1.5, 1.7, 1.6, 2.4, 2.7]
}

In [3]:
# Transformando em Dataframe e organizando as informações
df = pd.DataFrame(dados, columns=['Estado','Taxa de Desemprego','Taxa de crescimento', 'Ano'], 
                  index=['estado1','estado2','estado3', 'estado4', 'estado5'])

In [4]:
# Exibindo as informações
display(df)

                 Estado  Taxa de Desemprego Taxa de crescimento   Ano
estado1  Santa Catarina                 1.5                 NaN  2004
estado2  Rio de Janeiro                 1.7                 NaN  2005
estado3       Fortaleza                 1.6                 NaN  2006
estado4           Bahia                 2.4                 NaN  2007
estado5    Minas Gerais                 2.7                 NaN  2008

In [5]:
# Inserindo dados com NumPy
df['Taxa de crescimento'] = np.arange(5.)

In [6]:
# Exibindo as informações atualizadas
display(df)

                 Estado  Taxa de Desemprego  Taxa de crescimento   Ano
estado1  Santa Catarina                 1.5                  0.0  2004
estado2  Rio de Janeiro                 1.7                  1.0  2005
estado3       Fortaleza                 1.6                  2.0  2006
estado4           Bahia                 2.4                  3.0  2007
estado5    Minas Gerais                 2.7                  4.0  2008

Aplicando Slicing(Fatiamento)

In [7]:
# Filtando apenas o estado2 ao estado4
df['estado2':'estado4']

                 Estado  Taxa de Desemprego  Taxa de crescimento   Ano
estado2  Rio de Janeiro                 1.7                  1.0  2005
estado3       Fortaleza                 1.6                  2.0  2006
estado4           Bahia                 2.4                  3.0  2007

In [10]:
# Filtando linhas que tem o valor de desemprego menor que 2
df[ df['Taxa de Desemprego'] < 2 ]

                 Estado  Taxa de Desemprego  Taxa de crescimento   Ano
estado1  Santa Catarina                 1.5                  0.0  2004
estado2  Rio de Janeiro                 1.7                  1.0  2005
estado3       Fortaleza                 1.6                  2.0  2006